body{
    background-color: blue;
}

p{
    font-family: 'Assistant', sans-serif;
    font-family: 'Indie Flower', cursive;
   
}
h1{   
     font-family: 'Assistant', sans-serif;
    font-family: 'Indie Flower', cursive;
}